.app {
  display: grid;
  grid-template-rows: 1fr 4fr 1fr;
  grid-template-columns:  [full-start] minmax(1em, 1fr)
                          [main-start] minmax(0, 80em) [main-end]
                            minmax(1em, 1fr) [full-end];
}

.app > * {
  grid-column: main;
}

.header {
  display: grid;
  grid-template-columns: inherit;
  grid-column: full;
  background-color: #1976d2;
}

.header .header-content {
  grid-column: main;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.brand-logo {
  min-width: 2em;
  align-items: center;
  align-self: center;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content:flex-end;
  align-items: center;
  align-self: center;
  /* width: 500px; */
}

.navbar > * {
  margin-left: 10px;
}

.footer {
  display: grid;
  grid-template-columns: inherit;
  grid-column: full;
  background-color: #0d559c;
}

.footer .footer-content {
  grid-column: main;
  align-self: center;
  place-self: center;
}
